/* COMMON */
body {
  color: #333;    /* 어두운 회색으로 세련되게 */
  font-size: 16px;
  font-weight: 400;   /* 일반적인 글자 두께 */
  line-height: 1.4;   /* 각각의 줄의 높이 부분 (행간) */
  font-family: 'Nanum Gothic', sans-serif;
}
img{
  display: block; /* 인라인->블록. 하나의 레이아웃으로 활용하겠다! */
}


/* HEADER */
header{
  background-color: royalblue;
}
header .inner{
  width: 1100px;
  height: 120px;
  margin: 0 auto;   /* 가운데 정렬 */
  background-color: orange;
  position: relative;
}
header .logo{
  height: 75px;
  position: absolute; /* 부모요소 기준 배치 -> 부모요소에도 position 있어야*/
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto; /* 가운데로 몰아주려면 height도 알아야 함 */
}