/* COMMON */
body {
  color: #333;    /* 어두운 회색으로 세련되게 */
  font-size: 16px;
  font-weight: 400;   /* 일반적인 글자 두께 */
  line-height: 1.4;   /* 각각의 줄의 높이 부분 (행간) */
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}
img{
  display: block; /* 인라인->블록. 하나의 레이아웃으로 활용하겠다! */
}
a{
  text-decoration: none;    /* 밑줄 등 사용 안하겠다 */
}
.inner{
  width: 1100px;
  margin: 0 auto; /* 가운데 정렬 */
  position: relative;
}
/* 우선순위 10점 */
.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;   /* a 혹은 span 태그 부분에 사용되더라도 정상적으로 버튼되게 */
  transition: .4s;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}
/* 우선순위 20점 */
.btn.btn--reverse{    /* 기존 버튼에 반전된 버튼 BEM 으로!! */
  background-color: #333;
  color: #fff;
}
/* 우선순위 30점 (기본클 2개+가상클 1개) */
.btn.btn--reverse:hover{ 
  background-color: transparent;
  color: #333;
}
.btn.btn--brown{
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover{
  color: #fff;
  background-color: #592B18;
}
.btn.btn--gold{
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold{
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white{
  color: #fff;
  border-color: #fff;
}
.btn.btn--white{
  color: #333;
  background-color: #fff;
}



/* HEADER */
header{
  /* position: relative; */     /* position fixed가 있으니 없어도 됨 */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  top: 0;
  z-index: 9;
  position: fixed;  /* 가로너비가 최소한으로 줄어들려고 함 */
}
header > .inner{    /* header 안의 모든 inner말고 바로 자식요소 inner만 지칭 */
  height: 120px;
}
header .logo{
  height: 75px;
  position: absolute; /* 부모요소 기준 배치 -> 부모요소에도 position 있어야*/
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto; /* 가운데로 몰아주려면 height도 알아야 함 */
}
header .sub-menu{
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu{   /* 명시적으로 적어주는게 좋음 */
  font-family: Arial, sans-serif;   /* Arial있으면 적용하고 없으면 고딕체계열인 sans-serif 적용 */
  display: flex;  /* 수평정렬로 */
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{  /* before라는 가상요소 생성(인라인) */
  content: "";    /* 필수 */
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /* 부모요소 기준으로, block으로 자동변환 됨 */ 
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before{  /* Sign In 앞 칸막이는 삭제 */
  display: none;
}
header .sub-menu ul.menu li a{
  font-size: 12px;
  padding: 11px 16px;
  display: block;     /* a태그 원래 인라인 요소 */
  color: #656565;
}
header .sub-menu ul.menu li a:hover{
  color: #000;
}
header .sub-menu .search{
  height: 34px;
  position: relative;
}
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;   /* width, height 무조건 유지 */
  border-radius: 5px;
  outline: none;      /* 입력시 테투리 선 생성 제거 */
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;  /* width에만 전환효과 추가 default는 all */
}
header .sub-menu .search input:focus{   /* focus라는 가상클래스 선택자 추가 */
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;   /* 요소의 너비나 높이값 필수로 있어야 됨 */
  transition: .3s;
}
header .sub-menu .search.focused .material-icons{
  opacity: 0; /* focus되면 검색 아이콘 사라지게 */
}

header .main-menu{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item{
  
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name{    /* 드롭다운 부분도 함께 hover 적용되어야 함 */
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0 ;  /* 좌상단, 우상단만 적용 */
}
header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;  /* 뷰포트기준으로 배치 */
  /* top, bottom 속성 사용하지 않아야 요소의 원래 위치를 그래로 사용 */
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents{
  display: block;
}
header .main-menu .item .item__contents .contents__menu{
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul{ /* 자식선택자로 명시 */
  display: flex;  /* 수평정렬 */
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{ /* 자식선택자로 명시 */
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture{
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");   /* background-repeat은 default값이 repeat */
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;   /* 상, 중(좌우), 하 */
}



/* BADGES */
header .badges{
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge{
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15); /* x축 y축 blur  */
  cursor: pointer;
}



/* VISUAL */
.visual{
  margin-top: 120px;    /* header 높이만큼 띄움 */
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner{
  height: 646px;
}
.visual .title{
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .title .btn{
  position: absolute;   /* 구조상의 부모요소인 title 위치를 기준으로 */
  top: 259px;
  left: 173px;
}
.visual .cup1.image{  /* 클래스선택자 2개가 붙어있음 -> 일치선택자 */
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text{
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image{  /* 클래스선택자 2개가 붙어있음 -> 일치선택자 */
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text{
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon{
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in{
  opacity: 0;
}


/* NOTICE */
.notice{

}
.notice .notice-line{
  /* 높이속성 별도지정 없으면 auto (최대한 줄어들려고하는데 이때 inner의 height속성에 걸림
     즉 자식요소의 height값이 부모요소의 height auto 값 */
  position: relative;
}
.notice .notice-line .bg-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner{
  height: 62px;
  display: flex;    /* inner안에 left, right이 수평이 되어야 하므로 */
}
.notice .notice-line .inner__left{
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container{
  height: 62px;   /* .inner__left의 align-items:center에 의해 높이 사라지지 않도록 지정 */
  flex-grow: 1;   /* 최대한 늘어나라 */
}
.notice .notice-line .inner__left .swiper-slide{
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a{
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more{
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;  /* 수평가운데 정렬 */
  align-items: center;      /* 수직가운데 정렬 */
}
.notice .notice-line .inner__left .notice-line__more .material-icons{
  color: #fff;
  font-size: 30px;  /* default는 24px */
}
.notice .notice-line .inner__right{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;  /* 오른쪽 수평정렬 */
  align-items: center;
}
.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;  /* a태그로 안되어있으므로 사용자에게 버튼 인식시켜야 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons{
  font-size: 30px;
}
.notice .promotion{
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
}
.notice .promotion .swiper-container{
  width: calc(819px * 3 + 20px);    /* 사진3개 + 사이여백 */
  height: 553px;
  background-color: orange;
  text-align: center;
  font-size: 200px;
  position: absolute;
  top: 40px;
  /* 화면의 정중앙에 배치시키는 법 */
  left: 50%;                                      /* 왼쪽에서 50%에 배치하고 */
  margin-left: calc((819px * 3 + 20px) / -2);     /* 다시 요소의 절반만큼 왼쪽으로 땡겨옴 -> 중점을 정가운데로 옮김 */
}