.signin{
  margin-top: 120px;
  padding: 100px 0 150px;
  background-image: url("../images/signin_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;   /* 요소와 같이 스크롤되지 않고, 뷰포트에 고정 */
  background-size: cover; /* 뷰포트의 더 넓은 너비에 이미지 맞춤 */
}

.signin h1{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.signin__card{
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #F6F5F0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3); /* x축 y축 2px 이동해 20px의 블러효과 */
  color: #555;    /* card 내부 모든 글자 색상 */
}

.signin__card h2{
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.signin__card h2 strong{
  font-weight: 700;
  color: #006633;
}

.signin__card form{
  padding: 30px 22px;
}

.signin__card form input{
  width: 100%;    /* 최대한 늘려서 */
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;  /* focus시 생기는 파란색 선 제거 */
  box-sizing: border-box; /* padding, border사용으로 인해 요소 크기 늘어나지 않도록 계산 */
  font-size: 14px;
}

.signin__card form [type="submit"]{
  background-color: #006633;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.signin__card form p{
  font-size: 12px;
  color: #006633;
  text-align: center;
}

.signin__card .actions{
  display: flex;
  border-top: 1px solid #ddd;
}

.signin__card .actions a{
  flex-grow: 1;       /* 요소의 증가 너비 1비율 */
  flex-basis: 0;      /* 기본 너비 = 0 */
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;
}

.signin__card .actions a:last-child{    /* 마지막 버튼의 오른쪽 테두리는 지우자 */
  border-right: none;
}

.signin__card .actions a:hover{
  text-decoration: underline;
}